project:
  type: book
  output-dir: docs
  
website:
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: book.pdf
        text: PDF

book:
  title: "QuantCrim"
  subtitle: "Een open-web handboek voor kwantitatief onderzoek"
  author: 
  - name: Joost Jansen
    orcid: 0000-0002-1226-2919
  date: last-modified
  chapters:
    - index.qmd
    - 002-setup.qmd

bibliography: references.bib

format:
  html:
    theme:
      light: cosmo
      dark: darkly
  pdf:
    documentclass: scrreprt

editor: visual

