project:
  type: book
  output-dir: docs

book:
  title: "QuantcCrime"
  subtitle: "Een open-web handboek voor kwantitatief onderzoek"
  author: 
  - name: Joost Jansen
    orcid: 0000-0002-1226-2919
  date: last-modified
  chapters:
    - index.qmd
    - 002-setup.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt

editor: visual

